.btn-wrapper {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #FFF;
    color: #2F3440;
    flex: 1;
    outline: 1px solid #272727;
}

.operator {
    background-color: #EC9770;
    color: #2F3440;
}