.input {
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #272727;
    color: #fff;
    padding: .5em;
    outline: 1px solid #272727;
}