.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calculator-wrapper {
  width: 40%;
  height: 80%;
}

.row {
  display: flex;
  width: 100%;
}